.footer {
    background-color: #9eb39b !important;
    padding-top: 20px !important;
    color: #000 !important;
    line-height: 45px;
    padding-bottom: 10px  !important;
    display: flex;
    text-align: center;
}
.footer img{
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
.footer .icon{
    color: #000 !important;
    width: 3rem;
    height: 3rem;
    border-color: #000 !important;
}