.shadow-bottom {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* You can adjust the shadow values as needed */
  }
.input{
    direction: rtl;
    padding: 9px 5px;
    border: 2px solid #f0f0f0;
    border-radius: 12px;
    transition: 0.5s;
    outline: none;
    font-size: 10pt;
    font-weight: 100;
    width: 100%;
}
.fixed-image {
    width: 220px; /* Set your desired fixed width */
    height: 150px; /* Set your desired fixed height */
    object-fit: cover; /* Ensures the image covers the area while maintaining its aspect ratio */
  }
  

.input::placeholder {
    color: #797979 !important; 
}

.trip-link:focus{
    color: #5F8559;
}
.dir{
    direction: rtl;
}
.dir2{
    direction: ltr;
}
.active{
    color: #5F8559 !important;
}
.border-color{
    border-color: #5F8559 !important;
}
.color{
    color:  #5F8559 !important;
}

.custom-popup {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
  
  .trip-description {
    height: 100%;
    width: 100%;
    overflow: auto; /* Add scrollbars if the text overflows */
    /* Ensure text wrapping */
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .custom-popup {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.custom-popup-content {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -40%);
}
